<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CampusConnect</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <header>
      <nav class="nav">
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('clubs_list') }}">Clubs</a>
        <a href="{{ url_for('events_list') }}">Events</a>
      </nav>
    </header>
    <main class="container">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <ul class="flashes">
          {% for category, message in messages %}
            <li class="flash {{ category }}">{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
    </main>
    <footer class="footer">CampusConnect — Simple Club & Event Manager</footer>
  </body>
</html>
